{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About Us </title>
	<link rel="icon" type="text/x-icon" href="{% static 'logo.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'prjabt.css' %}" media="all">
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>It is very important to take care of the patient, and the adipiscing will be followed</h3>
					<p>We provide the most comprehensive range of healthcare services in Coimbatore through our three hospital campuses,
                        a large network of community programs and 2 statewide services.</p>


                    <h3>GOVERNANCE</h3>
                    <p>Being responsive and making good, transparent decisions are key principles of Texas Medcare's governance process.
                    </p>


                    <h3>OUR COMMUNITY</h3>
                    <p>Texas Medcare respectfully acknowledges the Traditional Custodians of this land, the people of the India.
                        We pay our respect to their Elders, past and present.</p>


                    <h3>PARTNERING WITH PATIENTS</h3>
                    <p>Working with our patients and their families helps achieve the best health outcomes.
                        We encourage you to get involved in planning and making decisions about your care.</p>


				</div>

				<div class="social">
                    <div><h3><center>FOLLOW US</center></h3>
					<center><a href="https://www.facebook.com/puranan.vijaysamy"><i class="fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/Puranan5"><i class="fab fa-twitter"></i></a>
					<a href="https://www.instagram.com/_puranan_/?r=nametag"><i class="fab fa-instagram"></center></i></a></div>
				</div>

		</div>
	</div>


</body>
</html>