{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>TEXAS MEDCARE</title>
 <link rel="icon" type="text/x-icon" href="{% static 'logo.png' %}">
 <link  href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="all">
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
 <div class="mainheader">
  <div class="logo">
   <img class="mySlides" src= "{% static 'logo.png' %}" >
  </div>

  <nav>

   <nav>

       <a href="#" target="_self">home </a>
       <a href="/about.html/" target="_blank">about </a>
       <a href="/services.html/" target="_blank"> services </a>
       <a href="/contactus.html/" target="_blank"> contact </a>
       <a href="#" target="_blank" >DR.online </a>
  </nav>
  </nav>

  <div class="menubtn">
    <nav>
      <button>
        <a href="https://wa.me/917094899776" text="Hi There..!">HelpLine</a>
      </button>
    </nav>


  </div>
 </div>


 <main>

  <section class="left-sec">
   <h2> We Are Here For Your Care</h2>
   <h1>  We The Best Doctors..!</h1>
   <p><strong>We are here for your care 24/7. Any help just call us.</strong></p>

   <button>
     <a href="/regforn.html/" target="_blank">Make an appointment</a>
  </button>
  </section>

  <section class="right-sec">
   <figure>
    <img class="mySlides" src= "{% static 'mainbg.jpg' %}">
   </figure>
  </section>
 </main>
</header>

</body>
</html>



<br><br><br>
<!--services-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Our Services</title><br>
  <!-- Font Awesome CDN-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet"/>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'prjser.css' %}" />
</head>
<body>
  <section><br><br>
    <div class="row">
    <br><br><h2 class="section-heading">OUR SERVICES</h2><br><br>

    </div>
    <br><div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-notes-medical"></i>
          </div>
          <h3>FREE CHECKUPS</h3>
          <p>
            Do A Free Health Checkup With Us And Lead A Happy And Healthy Life.
           </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-ambulance"></i>
          </div>
          <h3>24/7 AMBULANCE</h3>
          <p>
            24/7 Ambulance Service Available.<br>Avail The Services At Any Time.

          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-user-md"></i>
          </div>
          <h3>EXPERT DOCTORS</h3>
          <p>
            Texas Medcare Have Expert And Experienced Doctors To Cure the Disease.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-pills"></i>
          </div>
          <h3>MEDICINES</h3>
          <p>
            Medicines can treat diseases and improve your health.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-procedures"></i>
          </div>
          <h3>BED FACILITY</h3>
          <p>
            We Have Enough Speciaised ICU Beds And Normal Beds To Care You.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-heartbeat"></i>
          </div>
          <h3>TOTAL CARE</h3>
          <p>
            We Are Here To Take Care of You And Your Health
            "Caring Is The Essance Of Nursing".
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

