{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="icon" type="text/x-icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'prjser.css' %}">
  </head>
  <body>
    <section>
      <div class="row">
        <h2 class="section-heading">Our Services</h2>
      </div>
      <br><div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-notes-medical"></i>
            </div>
            <h3>FREE CHECKUPS</h3>
            <p>
              Do A Free Health Checkup With Us And Lead A Happy And Healthy Life.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-ambulance"></i>
            </div>
            <h3>24/7 AMBULANCE</h3>
            <p>
              24/7 Ambulance Service Available<br>Avail The Services At Any Time.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-user-md"></i>
            </div>
            <h3>EXPERT DOCTORS</h3>
            <p>
              Texas Medcare Have Expert And Experienced Doctors To Cure the Disease.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-pills"></i>
            </div>
            <h3>MEDICINES</h3>
            <p>
              Medicines can treat diseases and improve your healths.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-procedures"></i>
            </div>
            <h3>BED FACILITY</h3>
            <p>
              We Have Enough Speciaised ICU Beds And Normal Beds To Care You.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-heartbeat"></i>
            </div>
            <h3>TOTAL CARE</h3>
            <p>
              We Are Here To Take Care of You And Your Health
            "Caring Is The Essance Of Nursing".
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>